{% extends "base.html" %}

{% block title %}
Password reset complete / Kitchen Service
{% endblock title %}

{% block content %}

<!-- Spinner Start -->
{% include 'includes/spinner.html' %}
<!-- Spinner End -->

<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
  {% include 'includes/navbar.html' %}
  <div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Password reset complete</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center text-uppercase">
          <li class="breadcrumb-item"><a href="{% url 'kitchen_service:register' %}">Register</a></li>
          <li class="breadcrumb-item text-white active" aria-current="page">Password reset</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<!-- Navbar & Hero End -->

<!-- Password reset complete Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h2 class="section-title ff-secondary text-center text-primary fw-normal">Password Reset Complete</h2>
      <p class="mt-4">Your password has been set. You may go ahead and log in now.</p>
      <a href="{% url 'kitchen_service:login' %}" class="button-submit btn btn-primary mt-3">Log In</a>
    </div>
  </div>
</div>
<!-- Password reset complete End -->

<!-- Footer Start -->
{% include 'includes/footer.html' %}
<!-- Footer End -->

<!-- Back to Top -->
{% include 'includes/back_to_top.html' %}
<!-- Back to Top End-->

{% endblock content %}
