{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
Password reset confirm / Kitchen Service
{% endblock title %}

{% block content %}

<!-- Spinner Start -->
{% include 'includes/spinner.html' %}
<!-- Spinner End -->

<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
  {% include 'includes/navbar.html' %}
  <div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
      <h1 class="display-3 text-white mb-3 animated slideInDown">Password reset confirm</h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center text-uppercase">
          <li class="breadcrumb-item"><a href="{% url 'kitchen_service:register' %}">Register</a></li>
          <li class="breadcrumb-item text-white active" aria-current="page">Password reset</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<!-- Navbar & Hero End -->

<!-- Password reset confirm Start -->
<div class="container mt-5" style="padding-top: 40px;">
  <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
    <div class="row justify-content-center">
      <div class="col-md-4 block-form">
        <h5 class="text-primary">
          Enter New Password
        </h5>
        {% crispy form %}
      </div>
    </div>
  </div>
</div>
<!-- Password reset confirm Start -->

<!-- Footer Start -->
{% include 'includes/footer.html' %}
<!-- Footer End -->

<!-- Back to Top -->
{% include 'includes/back_to_top.html' %}
<!-- Back to Top End-->

{% endblock content %}
