{% extends "base.html" %}

{% block title %}
Page not found - 404 / Kitchen Service
{% endblock title %}

{% block content %}

<!-- Spinner Start -->
{% include 'includes/spinner.html' %}
<!-- Spinner End -->

<!-- Navbar & Hero Start -->
<div class="container-xxl position-relative p-0">
  {% include 'includes/navbar.html' %}
  <div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
      <h1 class="display-3 text-white mb-3 animated slideInDown"><span style="color:red;">404 - Page not found</span>
      </h1>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb justify-content-center text-uppercase">
          <li class="breadcrumb-item">
            <a href="{% url 'kitchen_service:index' %}">Home</a>
          </li>
          <li class="breadcrumb-item text-white active" aria-current="page">Page 404</li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<!-- Navbar & Hero End -->

<!-- 404 Start -->
<div class="container">
  <div class="row">
    <div style="padding:20px;" class="col-md-12">
      <p>Sorry, the page you are looking for does not exist.</p>
      <p>You may have misspelled the address or the page has been moved.</p>
    </div>
  </div>
</div>
<!-- 404 End -->

<!-- Footer Start -->
{% include 'includes/footer.html' %}
<!-- Footer End -->

<!-- Back to Top -->
{% include 'includes/back_to_top.html' %}
<!-- Back to Top End-->

{% endblock content %}
